//Style Variables Defined Here

//Colors
$off-black: #20222b;
$light-blue: lightblue;
$med-blue: #3c4251;
$body-blue: #464b5e;
$off-white: aliceblue;
$body-bgrnd: #333745;
$btn-action: #8357c5;  

//Sizing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$dbl-size: 3.2rem;
$trpl-size: 4.8rem;

//Margin and Padding Spacing
$sp-sm: .8rem;
$sp-md: 1.6rem;
$sp-lg: 2.2rem;
$sp-dbl: 3.2rem;
$sp-trpl: 4.8rem;

//Responsive Breakpoints
$desktop-breakpoint: 45rem;
